.row-1 {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
}

.info-item {
    position: relative; 
    left: 14vw;
}


.display-1 h4 {
    font-size: 1.5rem;
    margin: 0;
}
.display-1 a {
    font-size: 1.2rem;
}
.py-4 li {
    font-size: 1.2rem;
}
.py-4 {
    text-align: justify;
}

.work-col{
    margin: 3rem  0;
}

@media screen and (max-width:1180px){
    .info-item {
        position: static;
        left: 0;
        margin: 10px;
    }
}
